body{
    text-align: center;
}

h1{
    margin-top: 3px;
}

.card{
    height: 490px;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 3px 8px 8px black;
}



.button{

height: 120px;
width: 100px;
border: 1px solid black;
border-radius: 5px;
margin-left: 10px;
margin-right: 10px;
display: inline-block;
}

#gray{
    background: gray;
}
#white {
    background: white;
  }
#blue {
    background: blue;
  }
#yellow {
    background: yellow;
}
#orange{
    background: orange;
}
#red{
    background: red;
}
#pink{
    background: pink;
}
#purple{
    background: purple;
}
#green{
    background:green;
}

